.dropbtn {
    background: #0d0d0d;
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 0px 0px 10px 0px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: whitesmoke;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 1;
    width: 18%;
    border-radius: 0px 0px 5px 5px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: grid;
    font-weight: 600;
    color: brown;
}

.dropdown-content a:hover {
    background: gainsboro;
    border-radius: 0px 0px 5px 5px;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

