@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap'); /* font-weight: from 100 to 800 */

/* general set up - BEGIN */
* {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgb(55, 55, 55), rgb(42, 42, 42));
    height: 5px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

textarea {
    resize: none;
}
/* general set up - END */

/* logo section - BEGIN */
.logo {
    color: black;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 78px;
    margin: 24px 0px 0px 0px;
}

.subtitle {
    color: black;
    font-weight: 400;
    font-style: normal;
    margin: -18px 0px 40px -25px;
}
/* logo section - END */

/* redirect buttons */
.button {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    background: #0d0d0d;
    color: whitesmoke;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 0px;
}

.button:hover {
    background: #1c1c1c;
}

/* main container */
.container {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
    width: 70%;
    margin: auto;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
}

/* input fields */
.input-data {
    color: grey;
    padding: 5px;
    margin: 10px;
    width: 200px;
    border-color: transparent;
    border-radius: 3px;
}

.input-city {
    width: 214px;
}

/* form submit buttons */
.submit-button {
    color: rgb(25, 25, 25);
    font-weight: 700;
    font-size: 1.2em;
    background-color: rgb(0, 180, 85);
    width: 210px;
    margin: 20px auto 20px;
    padding: 15px 60px 15px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}

/* nav bar - BEGIN */
.menu {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80%;
    background: #0d0d0d;
    border-radius: 0px 0px 10px 10px;
}

.menu-simple {
    grid-template-columns: 1fr 1fr 1fr;
}

.menu a {
    font-size: 0.9em;
    display: grid;
    justify-content: center;
    padding: 20px 0px;
    font-weight: 500;
    color: whitesmoke;
}

.menu a:hover {
    background: #1c1c1c;
}

.border-fix-left {
    border-radius: 0px 0px 0px 10px;
}

.border-fix-right {
    border-radius: 0px 0px 10px 0px;
}
/* nav bar - END */

/* alert messages */
.warning {
    color: brown;
}

/* My posts */
.buttons-post {
    justify-content: space-between;
    
}
.button-title {
    font-size: 0.9em;
    font-weight: 600;
    background: #008CBA;
    color: whitesmoke;
    width: 60px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.button-delete {
    background: #f44336;
}

.button-title:hover {
    background: #1c1c1c;
}

.post-text {
    text-align: left;
}